appdirs==1.4.4
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
baostock==0.8.8
black==19.10b0
certifi @ file:///C:/Windows/TEMP/abs_e9b7158a-aa56-4a5b-87b6-c00d295b01fanefpc8_o/croots/recipe/certifi_1655968940823/work/certifi
cffi @ file:///C:/Windows/Temp/abs_6808y9x40v/croots/recipe/cffi_1659598653989/work
click==8.0.3
cryptography @ file:///C:/ci/cryptography_1652083563162/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
fonttools==4.25.0
kiwisolver @ file:///C:/ci/kiwisolver_1612282555033/work
matplotlib @ file:///C:/ci/matplotlib-suite_1638289827560/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
munkres==1.1.4
mypy-extensions==0.4.3
numpy @ file:///E:/github/bstock/whl/numpy-1.21.5%2Bvanilla-cp39-cp39-win_amd64.whl
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.5
pathspec==0.7.0
Pillow==8.4.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyMySQL @ file:///C:/ci/pymysql_1610464861530/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
regex @ file:///C:/ci/regex_1628063427816/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
TA-Lib @ file:///E:/data/bstock/TA_Lib-0.4.23-cp39-cp39-win_amd64.whl
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606924294691/work
typed-ast @ file:///C:/ci/typed-ast_1624953797214/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
wincertstore==0.2
